h3.title{
	margin:0 0 10px 0;
	padding-bottom: 5px;
	border-bottom:1px dotted #ddd;
}

.row-table-header{
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.trades-row p{
	margin:0;
}

@media screen and (max-width:770px){
	.trades-row .row-table-cell:nth-child(1)::before{
		content: 'Item Name:';
	}
	.trades-row .row-table-cell:nth-child(2)::before{
		content: 'Buy Price:';
	}
	.trades-row .row-table-cell:nth-child(3)::before{
		content: 'Sell Price:';
	}
	.trades-row .row-table-cell:nth-child(4)::before{
		content: 'Purchased date:';
	}
	.trades-row .row-table-cell:nth-child(5)::before{
		content: 'Sold date:';
	}
	.trades-row div::before{
		font-weight: bold;
		float:left;
		margin-right:20px;
		text-align: right;
	}
	.trades-row div{
		padding:5px;
	}
	.btn{
		width:100%;
	}
	.form-group div{
		margin-bottom: 3px;
	}
	.icon{
		width:100%;
	}
}

.navbar-default{
	background-color:#34495e;
	color:#fff;
	border:0;
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
	color:#bbb;
}

.navbar-default .navbar-brand{
	color:#fff;
}
.navbar-default .navbar-brand:hover{
	color:#bbb;
}

.btn-default{
	background-color:#34495e;
	color:#fff;
	border-color:#39556f;
}
.btn-default:hover,
.btn-default:focus{
	background-color:#253748;
	color:#fff;
}
.btn i{
	margin-right: 3px;

}

.btn{
	display: block;
	font-size: 100%;
	background-image: none;
	padding-top:9px;
	border-radius: 50%;
	margin:0 auto;
	width:40px;
	height:40px;
	-webkit-transition-property: border-radius, width, height;
	transition-property: border-radius, width, height;
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-delay: 0.1s, 0s, 0s;
}
.btn:hover{
	border-radius:4px;
	width:90px;

	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-delay: 0s, 0.1s, 0.1s;
}
.btn:hover .data{
	opacity:1;
	transition-property: opacity;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
}
.btn .data{
	opacity:0;
	transition-property: opacity;
	transition-delay: 0s;
	transition-duration: 0.2s;
}
.btn i{
	display:inline-block;
}
.btn:hover i{

}


.btn:hover{

}

.trades-row {
	border-bottom: 1px solid #ddd;
	padding:10px 0px;
}
.trades-row:hover{
	background-color:#efefef;
	cursor:default;
}
a.row-link{
	color:#222;
}
.text-center{
	text-align: center;
}
.navbar .currency-type{
	margin-top:8px;
}
.text-center{
	text-align: center;
}
.sold-icon i{
	margin:0;
}

.icon{
	display: block;
	margin-bottom: 0;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border-radius: 50%;
	width:40px;
	height:40px;
	margin:0 auto;

	transition-property: border-radius, width;
	transition-duration: 0.2s, 0.2s;
}

.icon:hover{
	border-radius:4px;
	width:60%;
}

.icon i{
	transition-property: transform, opacity;
	transition-duration: 0.3s, 0.2s;
	opacity: 1;
	display:block;
	top:12px;
	position:relative;
}
.icon:hover i{
	opacity:0;
	-webkit-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);

}
.icon .data{
	top:-4px;
	position:relative;
	opacity:0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	position:relative;
}

.icon:hover .data{
	opacity:1;
}

.icon-success{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.icon-danger{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.icon-info{
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
