h3.title{
	margin:0 0 10px 0;
	padding-bottom: 5px;
	border-bottom:1px dotted #ddd;
}

.row-table-header{
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.trades-row p{
	margin:0;
}

@media screen and (max-width:770px){
	.trades-row div:nth-child(1)::before{
		content: 'Item Name:';
	}
	.trades-row div:nth-child(2)::before{
		content: 'Buy Price:';
	}
	.trades-row div:nth-child(3)::before{
		content: 'Sell Price:';
	}
	.trades-row div::before{
		font-weight: bold;
		float:left;
		margin-right:20px;
		text-align: right;
	}
	.trades-row div{
		padding:5px;
	}


}

.trades-row {
	border-bottom: 1px solid #ddd;
	padding:10px 0px;
}
.trades-row:hover{
	background-color:#efefef;
	cursor:pointer;
}
