.btn-default{
	background-color:#34495e;
	color:#fff;
	border-color:#39556f;
}
.btn-default:hover,
.btn-default:focus{
	background-color:#253748;
	color:#fff;
}
.btn i{
	margin-right: 3px;
}


@media screen and (max-width:770px){

	.btn{
		width:100%;
	}
}
